/node_modules
/public/css
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/public/fonts/vendor
/public/images/vendor
/storage/*.key
/database/*.sqlite
/vendor
.DS_Store
.env
.php_cs.dist
.php_cs.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.phpstorm.meta.php