includes:
    - ./vendor/nunomaduro/larastan/extension.neon
#    - ./vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    paths:
        - app
#        - tests
#    excludePaths:
#        - app/Http/ViewHelpers/Employee/EmployeeShowViewHelper.php
#        - app/Http/ViewHelpers/Company/HR/CompanyHRViewHelper.php
#    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    level: 5
    ignoreErrors:
#        - '#Unsafe usage of new static#'
#        - '#Call to an undefined method Illuminate\\Support\\HigherOrder#'
#        - path: 'database/factories/*'
#          message: '#Undefined variable: \$factory#'
#       - '#should return array but returns Illuminate\\Support\\Enumerable#'
        - '#toArray\(\) should return array but returns Illuminate\\Support\\Collection#'
